rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access to all collections to ensure smooth experience for development and instant launch
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
